@import url('style_configs/configs.css');

.about-ous-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-ous-header{
    display: flex;
    margin-top: 78px;
}

.about-ous-title{
    margin-right: 260px;
}
.about-ous-title h1{
    font-weight: 300;
    font-size: 35px;
    color: var(--white);
}
.about-ous-title span{
    font-weight: 600;
    font-size: 52px;
    color: var(--purple);
}
#logo1{
    color: var(--white);
    font-weight: 300;
}
#logo2{
    color: var(--white);
}

.about-ous-content{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1161px;
    height: 717px;
    background-image: url('../assets/img_background.png');
    background-size: cover;
}

.about-ous-content-texts{
    margin-top: 140px;
    margin-left: 125px;
    width: 820px;
}

.about-ous-content-title h1{
    font-weight: 600;
    font-size: 50px;
    color: var(--white);
}

.about-ous-content-paragraph p{
    margin-top: 25px;
    font-size: 20px;
    font-weight: 200;
    color: var(--white);
}

.about-ous-content-link{
    margin-top: 25px;
}
.about-ous-content-link a{
    font-size: 20px;
    font-weight: 400;
    color: var(--purple);
    cursor: pointer;
    transition: .2s;
    text-decoration: none;
}
.about-ous-content-link a:hover{
    opacity: 0.7;
    text-decoration: underline;
}