.myticket-header {
    margin-top: 50px;
}

.myticket-header-title h1 {
    margin-bottom: 20px;
    font-size: 31px;
    color: white;
    font-weight: 300;
    text-align: center;
}

.myticket-content-mainpage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.myticket-card {
    margin-right: 50px;
}

.myticket-content-form h2 {
    margin-bottom: 10px;
    font-size: 14px;
    color: white;
    font-weight: 300;
    text-align: center;
}

.myticket-content-form input{
    background-color: transparent;
    width: 307px;
    height: 30px;
    text-align: center;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.myticket-form-box {
    width: 307px;
    height: 155px;
    border: 1px solid white;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-box-item {
    display: flex;
    margin-bottom: 10px;
}

.myticket-form-box p{
    color: white;
    font-size: 14px;
    font-weight: 300;
}

.myticket-form-box span{
    color: #635CCE;
    font-size: 14px;
    font-weight: 600;
}

.myticket-form-buttons {
    display: flex;
    margin-top: 20px;
}

.myticket-form-buttons .generic-btn {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    padding: 5px 8px 5px 8px;
}

#rechargeBtn {
    width: 163px;
    height: 30px;
    margin-right: 13px;
}

#useBtn {
    width: 131px;
    height: 30px;
}