.tickets-actions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: white;
    font-weight: 100;
    margin-top: 20px;

}

.generic-btn{
    margin-top: 20px; 
}
#recharge{
    width: 170px;
}
#rel-recarga{
    width: 155px;
    margin-bottom: 50px;
}

.line{
    height: 1px;
    width: 99px;
    background-color: white;
    margin: 25px 10px 0px 10px;
}

.subtext{
    display: flex;
    align-items: center;
}
