p.ticket-code {
    border: none;
    font-size: 14;
    font-weight: 100;
    color: #FFFFFF;
    text-align: center;
}
input {
    width: 307px;
    height: 30px;
    margin-top: 10px; 
    padding: 10px;
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    color: #FFFFFF;
    background: transparent;
    margin-left: auto;
    margin-right: auto;
}

.valor{
    display: flex;
    justify-content: center;
}

label {
    color: white;
    font-weight: 200;
}
:is(label) input {
    width: 90px;
    height: 31px;
}

.reacharge-container{
    display: grid;
}

.buttons-container{
    list-style: none;
    display: flex;
    justify-content: center;
}

.buttons-group{
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons-group ul{
    list-style: none;
}

.buttons-group ul li{
    margin-top: 10px;
    margin-bottom: 10px;
}


.recharge-options{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 148px;
    height: 33px;

    background-color: transparent;
    color: white;
    font-weight: 400;
    border: 1px solid white;
    border-radius: 30px;

    cursor: pointer;
    transition: 0.3s;
}
.recharge-options:hover{
    background-color: #BB86FC;
    opacity: 0.7;
}
.recharge-options.center{
    margin: 0px auto 15px auto;
}
#btnRecargaPersonalite, #btnRecargaCreditos{
    margin: 15px auto 15px auto;
}

.recharge-personalite-container,.recharge-credits-container{
    top: 0px;
    left: 0px;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-content{
    width: 307px;
    height: 300px;
}

@keyframes modal {
    from{
        opacity: 0;
        transform: translate3d(100px, 0, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrar .modal-content{
    animation: modal .3s;
}

.recharge-personalite-container.mostrar{
    display: flex;
    margin-top: -30px;
}
.recharge-credits-container.mostrar{
    display: flex;
    margin-top: -30px;
}