<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../css/style_generate.css">
        <link rel="icon" type="image/x-icon" href="../assets/favicon.ico">

        <script src="../js/copyfun.js"></script>

        <title>TRANSCAR</title>
    </head>
    
    <body>
        <!-- Header -->
        <header>
            <!-- navbar -->
            <nav>
                <a class="logo" href="../index.html" id="navbar"><img src="../assets/TRANSCAR.svg" alt=""></a>
                <ul class="nav-list">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="#">Bilhetes</a></li>
                    <li><a href="#">Sobre <img src="../assets/dropdown_menu_icon.svg"> </a></li>
                    <li class="disable">Para empresas</li>
                </ul>

                <ul class="nav-list">
                    <li>
                        <div class="buttons">
                            <a class="btn-nav" href="#">
                                Conta
                            </a>
                        </div>
                    </li>
                    
                    <li>
                        <div class="buttons">
                            <a class="btn-nav purple" href="#">
                                Bilhetes
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- end navbar -->
        </header>
        <!-- end header -->

        <main>
            <section class="code-generate disabled" id="qrCodeSection">
                <h1>Gerar novo bilhete</h1>

                <img class ="qr-code"src="https://api.qrserver.com/v1/create-qr-code/?data=qrcode_example&size=183x183" alt="qr code" id="qrCodeImg"/>

                <div class="text-code">
                    <p id="ticketCode">XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX</p>
                    <a class="icon-copy" onclick="myFunction()"><img src="../assets/icon_copy.svg">
                </div>

                <div class="buttons">
                    <form action="" method="post">
                        <a class="btnext btn-nav purple generate">Gerar código</a>
                    </form>
                </div>
            </section>
        </main>

        <footer>
            <div class="container-footer">
                <nav class="nav-footer">
                    <ul class="nav-list">
                        <li><a href="#navbar">Voltar ao inicio</a></li>
                    </ul>
                </nav>

                <div class="row-footer">
                    <!-- footer col-->
                    <div class="footer-col">
                        <h4>Conheça-nos</h4>
                        <ul>
                            <li><a href="#">Sobre nos</a></li>
                            <li><a href="#">Contato</a></li>
                            <li><a href="#">Nossos valores</a></li>
                            <li><a href="#">Nossa missão</a></li>
                            <li><a href="#">Nossa visão</a></li>
                            <li><a href="#">Trabalhe conosco</a></li>
                        </ul>
                    </div>
                    <!--end footer col-->
                    <!-- footer col-->
                    <div class="footer-col">
                        <h4>Bilhetes</h4>
                        <ul>
                            <li><a href="#">Como funcionam</a></li>
                            <li><a href="../views/generate.html">Gerar novo bilhete</a></li>
                            <li><a href="../views/recarga.html">Recarregar bilhete</a></li>
                            <li><a href="#">Meus Bilhetes</a></li>
                        </ul>
                    </div>
                    <!--end footer col-->
                    <!-- footer col-->
                    <div class="footer-col">
                        <h4>Conta</h4>
                        <ul>
                            <li><a href="#">Registrar</a></li>
                            <li><a href="#">Entrar</a></li>
                            <li><a href="#">Gerar novo código</a></li>
                            <li><a href="#">Meus bilhetes</a></li>
                            <li><a href="#">Histórico de Recargas</a></li>
                            <li><a href="#">Histórico de Utilização</a></li>
                            <li><a href="#">Gerenciar minha conta</a></li>
                        </ul>
                    </div>
                    <!--end footer col-->
                    <!-- footer col-->
                    <div class="footer-col">
                        <h4>Para empresas</h4>
                        <ul>
                            <li><a href="#">Transcar e seu negócio</a></li>
                            <li><a href="#">Comprar para sua empresa</a></li>
                        </ul>
                    </div>
                    <!--end footer col-->
                </div>
            </div>
        </footer>

        <div class="modal-container" id="termAcceptance">    
            <div class="modal">
                <div class="nav-modal">
                    <h1 class="modal-title">Termos e Condições de Uso</h1>
                </div>
                
                <div class="text-term">
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec leo at felis ultricies pellentesque ut eget tortor. Nunc sit amet mi sed tortor ornare mattis. Proin quis risus ac nibh fermentum ultricies pulvinar at diam. Phasellus vestibulum sit amet eros quis lacinia. Phasellus sagittis, neque et vestibulum interdum, sapien tortor malesuada leo, nec tempus nibh dolor egestas metus. Curabitur ornare at nulla sodales pellentesque. Aenean tristique sodales metus sed rutrum. Sed egestas sem mauris, sagittis dapibus nibh malesuada in. Ut et tortor condimentum, posuere neque lacinia, condimentum nisl. Proin nec gravida neque. Fusce molestie egestas tellus, eget semper ex volutpat a. Aliquam felis tellus, pretium eu ante eu, feugiat auctor diam.</span>
                </div>
                
                <div class="modal-footer">
                    <a class="btn-nav purple generate btn-modal-confirm" id="btnGenerate">
                        Confirmar
                    </a>
                    <a class="btn-nav generate btn-modal-cancel" id="cancel">
                        Cancelar
                    </a>
                </div>
            </div>
        </div>

        <script src="../js/createTicket.js"></script>
        <script>
            const createTicketBtn = document.getElementById('btnGenerate');
            const qrCodeImg = document.getElementById('qrCodeImg');
            const ticketCode = document.getElementById('ticketCode');

            createTicketBtn.addEventListener('click', async () => {
                let newTicketCode = await createTicket();

                qrCodeImg.src = `https://api.qrserver.com/v1/create-qr-code/?data=${newTicketCode.id_ticket}&size=183x183`;

                ticketCode.textContent = newTicketCode.id_ticket || newTicketCode.error;

                navigator.clipboard.writeText(newTicketCode.id_ticket);
            })
        </script>
        <script src="../js/modal.js"></script>
        
    </body>

</html>