<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../css/style_mainTicket/mainTicket.css">
        <link rel="stylesheet" href="../css/style_mainTicket/rechargeModal.css">
        <link rel="stylesheet" href="../css/style_mainTicket/rechargeModalCredit.css">
        <link rel="stylesheet" href="../css/style_mainTicket/rechargeModalPersonalite.css">
        <link rel="stylesheet" href="../css/style_mainTicket/termUseModal.css">
        <link rel="stylesheet" href="../css/style_mainTicket/useTicketModal.css">

        <link rel="stylesheet" href="../css/components.css">
        
        <title>FasTICKET: Bem vindo! Aqui você cria, recarrega, utilza, faz o que quiser com seu bilhete.</title>
    </head>

    <body>
        <!-- Navbar -->
        <header>
            <nav>
                <abbr title="Ir para Home">
                    <img class="logo" id="navbar" src="../assets/logo/FASTICKET.svg" alt="Ir para Home" onclick="location.href='../index.html'">
                </abbr>

                <ul class="nav-list">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="about_ous_view/aboutOus.html">Sobre</a></li>
                    <li><a href="relatorio.html">Relatórios</a></li>
                </ul>

                <ul class="nav-list">
                    <li>
                        <div class="buttons">
                            <button type="button" onclick="location.href='mainTicket.html'" class="btn-nav">
                                Meu bilhete
                            </button>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- Navbar -->

        <main>
            <section>
                <div class="myTicket-container">
                    <div class="myTicket-header">
                        <div class="myTicket-header-title">
                            <h1>Meu Bilhete</h1>
                        </div>
                        <div class="myTicket-header-text">
                            <p>Com o código único você abre muitas portas e vai a lugares inimagináveis!<br><span>Obtenha o seu já!</span></p>
                        </div>
                        <div class="myTicket-header-code">
                            <input id="ticketCode" type="text" placeholder="# Seu código" maxlength="13">
                            
                            <button type="button" class="search-btn">
                                <img id="searchBtn" src="../assets/icons/search_icon.svg" alt="search">
                            </button>

                            <div id="code-message">
                                <span id="SearchMessage" class=""></span>
                            </div>
                        </div>
                    </div>

                    <div class="myTicket-content">
                        <div class="myTicket-content-cards">
                            <div class="card">
                                <div class="card-header-icon">
                                    <img src="../assets/icons/create_code_icon.svg"> <hr>
                                </div>
                                <div class="card-header-title">
                                    <h1>Criar código</h1>
                                </div>
                                <div class="card-header-text">
                                    <p>Você ainda não tem um código? Gere agora mesmo!</p>
                                </div>
                                <div class="card-header-button">
                                    <button type="button" class="card-btn" id="codeGenerate"><p>Criar agora</p> <img src="../assets/icons/next_icon.svg"></button>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header-icon">
                                    <img src="../assets/icons/ticket_icon.svg"> <hr>
                                </div>
                                <div class="card-header-title">
                                    <h1>Recarregar</h1>
                                </div>
                                <div class="card-header-text">
                                    <p>Seu bilhete é novo ou acabou? Recarrege agora!</p>
                                </div>
                                <div class="card-header-button">
                                    <button type="button" class="card-btn" id="codeRecharge"><p>Recarregar</p> <img src="../assets/icons/next_icon.svg"></button>
                                </div>
                            </div>

                            <div class="card" id="useCard">
                                <div class="card-header-icon">
                                    <img src="../assets/icons/use_code_icon.svg">
                                </div>
                                <div class="card-header-title">
                                    <h1>Usar bilhete</h1>
                                </div>
                                <div class="card-header-text">
                                    <p>Você vai embarcar em uma viagem incrivel? Use seu bilhete aqui!</p>
                                </div>
                                <div class="card-header-button">
                                    <button type="button" class="card-btn" id="useCode"><p>Usar já</p> <img src="../assets/icons/next_icon.svg"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <!-- Modal Termo de Uso -->
        <section class="termUse-modal-container" id="termUseModal">
            <div class="termUse-content">
                <div class="termUse-header">
                    <div class="termUse-header-title">
                        <h1>Termo de aceite para criar código único</h1>
                    </div>
                    <div class="termUse-header-icon">
                        <img id="closeModal" src="../assets/icons/close_icon.svg">
                    </div>
                </div>
                
                <div class="termUse-main">
                    <div class="termUse-main-text">
                        <p>Ao aceitar este termo será gerado um código único, onde será possivel recarregar, usar e gerar um relatório de uso. Você pode recarrega-lo várias vezes, sendo armazenadas elas sequencialmente onde uma vez expirada a próxima será ativada automáticamente</p>
                    </div>
                    <div class="termUse-main-button">
                        <button type="button" id="termUseButton" class="termUse-btn" >Aceitar 
                            <img id="btnIcon" src="../assets/icons/arrow_right.svg">
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <!-- Modal Termo de Uso --> 

        <!-- Modal Recarga - Seleção do Bilhete -->
        <section class="recharge-modal-container" id="rechargeModal">
            <div class="recharge-content">
                <div class="recharge-header">
                    <div class="recharge-header-title">
                        <h1>Recarregar seu bilhete</h1>
                        <p>Escolha o tipo do seu bilhete clicando no cartão</p>
                    </div>
                    <div class="recharge-header-icon">
                        <img id="closeModal" src="../assets/icons/close_icon.svg">
                    </div>
                </div>
                
                <div class="recharge-main">
                    <div class="recharge-cards">
                        <img src="../assets/cards/card_personalite.svg" id="cardPersonalite" alt="Cartão Pesonalitè">
                        <img src="../assets/cards/card_creditos.svg" id="cardCredito" alt="Cartão Créditos">
                    </div>

                    <div class="recharge-btn">
                        <button type="button" class="rechagerCancel-btn" id="CancelBtn">Cancelar <img src="../assets/icons/x_icon.svg"></button>
                    </div>
                </div>
            </div>
        </section>
        <!-- Modal Recarga - Seleção do Bilhete -->

        <!-- Modal Recarga - Créditos | Personalite -->
        <section class="credit-modal-container" id="creditModal">
            <div class="credit-content">
                <div class="credit-header">
                    <div class="credit-header-title">
                        <h1>Recarregar seu bilhete</h1>
                    </div>
                    <div class="credit-header-icon">
                        <img id="closeModal" src="../assets/icons/close_icon.svg">
                    </div>
                </div>
                
                <div class="credit-main">
                    <div class="main-text">
                        <p>Utilização ilimitada durante 40 minutos, você pode ter uma ativação ou duas.</p>
                    </div>

                    <div class="main-cards-options">
                        <button type="button" class="option-btn selected" id="CreditOptionBtn">Créditos</button>
                        <button type="button" class="option-btn" id="PersonaliteOptionBtn">Personalitè</button>
                    </div>

                    <div class="main-types">
                        <div class="type-buttons">
                            <button type="button" class="type-btn" id="u" data-value="3.26">único</button>
                            <button type="button" class="type-btn" id="d" data-value="6.52">duplo</button>
                        </div>

                        <input type="text" name="valor" class="value-display" id="valorRecarga" readonly placeholder="R$ --">
                    </div>

                    <div class="fun-btn-box">
                        <button type="button" class="fun-btn" id="CancelBtn">Cancelar <img src="../assets/icons/x_icon.svg"></button>
                        <button type="button" class="fun-btn" id="btnRecargaCreditos">Recarregar <img id="btnIcon" src="../assets/icons/arrow_right.svg"></button>
                    </div>
                </div>
            </div>
        </section>

        <section class="personalite-modal-container" id="personaliteModal">
            <div class="personalite-content">
                <div class="personalite-header">
                    <div class="personalite-header-title">
                        <h1>Recarregar seu bilhete</h1>
                    </div>
                    <div class="personalite-header-icon">
                        <img id="closeModal" src="../assets/icons/close_icon.svg">
                    </div>
                </div>
                
                <div class="personalite-main">
                    <div class="personalite-main-text">
                        <p>Utilização ilimitada durante 40 minutos, você pode ter uma ativação ou duas.</p>
                    </div>

                    <div class="personalite-main-cards-options">
                        <button type="button" class="option-btn" id="CreditOptionBtn">Créditos</button>
                        <button type="button" class="option-btn selected" id="PersonaliteOptionBtn">Personalitè</button>
                    </div>

                    <div class="personalite-main-types">
                        <div class="personalite-type-buttons">
                            <button type="button" class="type-btn" id="1d" data-value="10.27">1 dia</button>
                            <button type="button" class="type-btn" id="7d" data-value="71.89">7 dias</button>
                        </div>
                        <div class="personalite-type-buttons">
                            <button type="button" class="type-btn" id="14d" data-value="143.78">14 dias</button>
                            <button type="button" class="type-btn" id="30d" data-value="308.1">30 dias</button>
                        </div>

                        <input type="text" name="valor" class="value-display" id="valorRecarga" readonly placeholder="R$ --">
                    </div>

                    <div class="personalite-fun-btn-box">
                        <button type="button" class="fun-btn" id="CancelBtn">Cancelar <img src="../assets/icons/x_icon.svg"></button>
                        <button type="button" class="fun-btn" id="btnRecargaPersonalite" id="btnIcon">Recarregar <img src="../assets/icons/arrow_right.svg"></button>
                    </div>
                </div>
            </div>
        </section>
        <!-- Modal Recarga - Créditos | Personalite -->

        <!-- Modal de sucesso -->
        <div id="modalMensagemSuccess" style="display: none;">    
            <div class="message-modal-container">
                <div class="message-bar-modal">
                    <h1 class="message-modal-title">Aviso de recargar !</h1>
                </div>
                
                <div class="modal-message">
                    <span class="msgModal">Bilhete recarregado com Sucesso !</span>
                </div>
                
                <div class="message-bottom-modal sucess">
                </div>
            </div>
        </div>
        <!-- Modal de sucesso --> 

        <!-- Modal de erro --> 
        <div id="modalMensagemError" style="display: none;">
            <div class="message-modal-container">
                <div class="message-bar-modal">
                    <h1 class="message-modal-title">Aviso de recargar !</h1>
                </div>
                
                <div class="modal-message">
                    <span class="msgModal">Código invalido ou inexistente</span>
                </div>
                
                <div class="message-bottom-modal error">
                </div>
            </div>
        </div>
        <!-- Modal de erro -->

        <!-- Modal Uso -->
        <section class="ticketUse-container" id="ticketUseModal">
            <div class="ticketUse-content">
                <div class="ticketUse-header">
                    <div class="ticketUse-header-title">
                        <h1>Recarregar seu bilhete</h1>
                    </div>
                    <div class="ticketUse-header-icon">
                        <img id="closeModal" src="../assets/icons/close_icon.svg">
                    </div>
                </div>
                
                <div class="ticketUse-main">
                    <div class="ticketUse-main-text">
                        <p>Escolha o meio e o local que você ira viajar com a TRANSCAR.</p>
                    </div>

                    <div class="ticketUse-options">
                        <select name="transporte" id="transporte" class="select-box">
                            <option value="" selected disabled hidden>Meio de Transporte</option>
                            <option value="metro" class="select-item">Metro</option>
                            <option value="onibus" class="select-item">Ônibus</option>
                            <option value="trem" class="select-item">Trem</option>
                        </select>

                        <select name="local" id="local" class="select-box">
                            <option value="" selected disabled hidden>Local</option>
                            <option value="campinas" class="select-item">Campinas</option>
                            <option value="hotolandia" class="select-item">Hortolandia</option>
                            <option value="sumare" class="select-item">Sumaré</option>
                        </select>
                    </div>

                    <div class="ticketUse-fun-btn-box">
                        <button class="fun-btn" id="CancelBtn">Cancelar <img src="../assets/icons/x_icon.svg"></button>
                        <button class="fun-btn" id="btnticketUse" id="btnIcon">Usar <img src="../assets/icons/arrow_right.svg"></button>
                    </div>
                </div>
            </div>
        </section>
        <!-- Modal Uso -->
    </body>

    <!-- Footer -->
    <footer>
        <div class="container-footer">
            <nav class="nav-footer">
                <ul class="nav-list-footer">
                    <li><a href="#navbar">Voltar ao inicio</a></li>
                </ul>
            </nav>

            <div class="row-footer">
                <div class="footer-col">
                    <h4>Sobre o FasTICKET</h4>
                    <ul>
                        <li><a href="about_ous_view/aboutOus.html">Sobre nos</a></li>
                        <li><a href="about_ous_view/contact.html">Contato</a></li>
                        <li><a href="about_ous_view/FasTICKET-responsabilities.html">Responsabilidades</a></li>
                        <li><a href="about_ous_view/careers.html">Trabalhe conosco</a></li>
                    </ul>
                </div>
                
                <div class="footer-col">
                    <h4>Bilhetes</h4>
                    <ul>
                        <li><a href="mainTicket.html">Gerar novo bilhete</a></li>
                        <li><a href="mainTicket.html">Recarregar bilhete</a></li>
                        <li><a href="mainTicket.html">Utilizar Bilhetes</a></li>
                        <li><a href="relatorio.html">Relatório de Gerenciamento</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->

    <script>
        const createTicketBtn = document.getElementById('termUseButton');
        const ticketCode = document.getElementById('ticketCode');
        const iconButton = document.getElementById("btnIcon");

        createTicketBtn.addEventListener('click', async () => {
            changeImage(iconButton);

            let newTicketCode = await createTicket();

            ticketCode.value = newTicketCode.TICKET_ID || newTicketCode.error;
            
            ticketCode.dispatchEvent(new Event('input')) 
            
            setTimeout(() => {
                geracaoCodigoModal.style.display = "none";
                iconButton.src = iconButton.src.replace("loader.svg", "arrow_right.svg");
            }, await newTicketCode)
        })

        function changeImage(element) {
            element.src = iconButton.src.replace("arrow_right.svg", "loader.svg");
        }
    </script>

    <script src="../js/createTicket.js"></script>
    <script src="../js/mainTicket/openModals.js"></script>
    <script src="../js/mainTicket/interacionsBtn.js"></script>
    <script src="../js/mainTicket/rechargeMain.js"></script>
    <script src="../js/mainTicket/searchTicketStatus.js"></script>
    <script src="../js/mainTicket/useTransaction.js"></script>
</html>