<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/configs.css">
        <link rel="stylesheet" href="../css/myticket.css">
        <link rel="stylesheet" href="../css/navbar.css">
        <link rel="stylesheet" href="../css/footer.css">
        <link rel="stylesheet" href="../css/scrollbar.css">

        <link rel="stylesheet" href="../css/modalUse.css">
        
        <title>Bilhetes</title>
    </head>

    <body>
        <!-- Navbar -->
        <header>
            <nav>
                <abbr title="Ir para Home">
                    <img class="logo" id="navbar" src="../assets/TRANSCAR.svg" alt="Ir para Home" onclick="location.href='../index.html'">
                </abbr>

                <ul class="nav-list">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="#">Sobre <img src="../assets/dropdown_menu_icon.svg"> </a></li>
                    <li class="disable">Para empresas</li>
                </ul>

                <ul class="nav-list">
                    <li>
                        <div class="buttons">
                            <button type="button" onclick="location.href='tickets.html'" class="btn-nav purple">
                                Bilhetes
                            </button>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- Navbar -->

        <main>
            <section class="myticket">

                <h1>Meu bilhete</h1>
                
                <section>
                    <div class="card-container">
                        <img src="../assets/flip-card-bg.svg">
                    </div>

                    <section class="content">
                        <div class="myticket-header">
                            <h1>Código do Bilhete</h1>
                            <input type="text">
                        </div>
    
                        <ul class="info-container">
                            
                            <li class="title-myticket">Status de recarga: <span>Não</span></li>
                            <li class="title-myticket">Tipo de recarga ativa: <span>Não</span></li>
                            <li class="title-myticket">Data de expiração da recarga: <span>24/11/2022 at 21:52pm</span></li>
                            
                        </ul>
                        <div class="mytickets-btn">
                            <button type="button" onclick="location.href='recharge.html'" class="generic-btn">
                                Recarregar Bilhete
                            </button>
                            <button type="button" class="generic-btn use-btn">
                                Utilizar Bilhete
                            </button>
                       </div>
                    </section>
                </section>
            </section>
        </main>
         <!-- Footer -->
         <footer>
            <div class="container-footer">
                <nav class="nav-footer">
                    <ul class="nav-list-footer">
                        <li><a href="#navbar">Voltar ao inicio</a></li>
                    </ul>
                </nav>

                <div class="row-footer">
                    
                    <div class="footer-col">
                        <h4>Sobre o Transcar</h4>
                        <ul>
                            <li><a href="#">Sobre nos</a></li>
                            <li><a href="#">Contato</a></li>
                            <li><a href="#">Responsabilidades</a></li>
                            <li><a href="#">Trabalhe conosco</a></li>
                        </ul>
                    </div>
                    
                    <div class="footer-col">
                        <h4>Bilhetes</h4>
                        <ul>
                            <li><a href="#">Como funcionam</a></li>
                            <li><a href="generate.html">Gerar novo bilhete</a></li>
                            <li><a href="recharge.html">Recarregar bilhete</a></li>
                            <li><a href="usage.html">Utilizar Bilhetes</a></li>
                            <li><a href="#">Relatório de uso</a></li>
                            <li><a href="#">Rel. de recarga</a></li>
                        </ul>
                    </div>

                    <div class="footer-col">
                        <h4>Para empresas</h4>
                        <ul>
                            <li><a href="#">Transcar e seu negócio</a></li>
                            <li><a href="#">Comprar para sua empresa</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer -->

        <!-- Modal termo de utilização -->
        <div class="modal-container" id="useTicket">    
            <div class="modal">
                <div class="nav-modal">
                    <h1 class="modal-title">Utilização do Bilhete</h1>
                </div>
                
                <div class="text-term">
                    <div class="dropTransp">
                        <button onclick= "btnTransports()" class="dropBtn">Meio de Transporte</button>
                            <div id="dropDownTrans"class="valueDrop">
                                <a href="#Bus">Ônibus</a>
                                <a href="#Subway">Metrô</a>
                                <a href="#Train">Trem</a>    
                            </div>
                    </div>
                    <div class="dropLocat">
                        <button onclick= "btnLocation()" class="dropBtn">Local de Uso</button>
                            <div id="dropDownLocat"class="valueDrop">
                                <a href="#Campinas">Campinas - SP</a>
                                <a href="#Hortolandia">Hortôlandia - SP</a>
                                <a href="#Sumare">Sumaré - SP</a>    
                            </div>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="generic-btn modal-btn" id="btnGenerate">
                        Confirmar
                    </button>
                    <button type="button" class="generic-btn modal-btn" id="cancel">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
        <!-- Modal termo de utilização -->

        <script src="../js/modalUse.js"></script>
        <script src="../js/dropdown.js"></script>
    </body>
</html>