<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/configs.css">
        <link rel="stylesheet" href="../css/myticket.css">
        <link rel="stylesheet" href="../css/navbar.css">
        <link rel="stylesheet" href="../css/footer.css">
        <link rel="stylesheet" href="../css/scrollbar.css">
        
        <title>Bilhetes</title>
    </head>

    <body>
        <!-- Navbar -->
        <header>
            <nav>
                <abbr title="Ir para Home">
                    <img class="logo" id="navbar" src="../../assets/logo/TRANSCAR.svg" alt="Ir para Home" onclick="location.href='../../index.html'">
                </abbr>

                <ul class="nav-list">
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li class="disable">Para empresas</li>
                </ul>

                <ul class="nav-list">
                    <li>
                        <div class="buttons">
                            <button type="button" onclick="location.href='../tickets.html'" class="btn-nav">
                                Meu bilhete
                            </button>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- Navbar -->

        <main>
            <section class="myticket">

                <h1>Meu bilhete</h1>
                
                <section>
                    <div class="card-container">
                        <img src="../assets/cards/flip-card-bg.svg">
                    </div>

                    <section class="content">
                        <div class="myticket-header">
                            <h1>Código do Bilhete</h1>
                            <input type="text">
                        </div>
    
                        <ul class="info-container">
                            
                            <li class="title-myticket">Status de recarga: <span>Não</span></li>
                            <li class="title-myticket">Tipo de recarga ativa: <span>Não</span></li>
                            <li class="title-myticket">Data de expiração da recarga: <span>24/11/2022 at 21:52pm</span></li>
                            
                        </ul>
                        <div class="mytickets-btn">
                            <button type="button" onclick="location.href='recharge.html'" class="generic-btn">
                                Recarregar Bilhete
                            </button>
                            <button type="button" class="generic-btn use-btn">
                                Utilizar Bilhete
                            </button><h1></h1>
                       </div>
                    </section>
                </section>
            </section>
        </main>
         
        <!-- Footer -->
        <footer>
            <div class="container-footer">
                <nav class="nav-footer">
                    <ul class="nav-list-footer">
                        <li><a href="#navbar">Voltar ao inicio</a></li>
                    </ul>
                </nav>

                <div class="row-footer">
                    
                    <div class="footer-col">
                        <h4>Sobre o Transcar</h4>
                        <ul>
                            <li><a href="about_ous_view/aboutOus.html">Sobre nos</a></li>
                            <li><a href="about_ous_view/contact.html">Contato</a></li>
                            <li><a href="about_ous_view/transcar-responsabilities.html">Responsabilidades</a></li>
                            <li><a href="about_ous_view/careers.html">Trabalhe conosco</a></li>
                        </ul>
                    </div>
                    
                    <div class="footer-col">
                        <h4>Bilhetes</h4>
                        <ul>
                            <li><a href="#">Como funcionam</a></li>
                            <li><a href="../generate.html">Gerar novo bilhete</a></li>
                            <li><a href="../recharge.html">Recarregar bilhete</a></li>
                            <li><a href="../usage.html">Utilizar Bilhetes</a></li>
                            <li><a href="#">Relatório de uso</a></li>
                            <li><a href="#">Rel. de recarga</a></li>
                        </ul>
                    </div>

                    <div class="footer-col">
                        <h4>Para empresas</h4>
                        <ul>
                            <li><a href="#">Transcar e seu negócio</a></li>
                            <li><a href="#">Comprar para sua empresa</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer -->


    </body>
</html>