<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../css/myticket.css">

        <link rel="stylesheet" href="../css/style_configs/configs.css">
        <link rel="stylesheet" href="../css/style_configs/navbar.css">
        <link rel="stylesheet" href="../css/style_configs/footer.css">
        <link rel="stylesheet" href="../css/style_configs/scrollbar.css">
        
        <title>Meu bilhete</title>
    </head>

    <body>
        <!-- Navbar -->
        <header>
            <nav>
                <abbr title="Ir para Home">
                    <img class="logo" id="navbar" src="../../assets/logo/TRANSCAR.svg" alt="Ir para Home" onclick="location.href='../../index.html'">
                </abbr>

                <ul class="nav-list">
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li class="disable">Para empresas</li>
                </ul>

                <ul class="nav-list">
                    <li>
                        <div class="buttons">
                            <button type="button" onclick="location.href='tickets.html'" class="btn-nav">
                                Meu bilhete
                            </button>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- Navbar -->

        <main>
            <section>
                <div class="myticket-header">
                    <div class="myticket-header-title">
                        <h1>Meu Bilhete</h1>
                    </div>

                    <div>
                        <div class="myticket-content-mainpage">
                            <div class="myticket-card">
                                <img src="../assets/cards/flip-card-bg.svg" alt="Cartão">
                            </div>

                            <div class="myticket-content-form">
                                <h2>Código do Bilhete</h2>

                                <input type="text" placeholder="xxxxxxxx-xxxx-xxxx-xxxxx-xxxxxxxxxxxx">
                                
                                <div class="myticket-form-box">
                                    <div class="form-box-item">
                                        <p>Minha recarga está ativa: <span>Sim</span></p>
                                    </div>
                                    <div class="form-box-item">
                                        <p>Tipo de recarga ativo: <span>Único</span></p>
                                    </div>
                                    <div class="form-box-item">
                                        <p>Minha recarga está vencida: <span>Não</span></p>
                                    </div>
                                    <div class="form-box-item">
                                        <p>Quando minha recarga vence: <br><span>Tue Nov 22 2022 17:45:58</span></p>
                                    </div>
                                </div>

                                <div class="myticket-form-buttons">
                                    <button type="button" class="generic-btn" id="rechargeBtn">Recarregar bilhete</button>
                                    <button type="button" class="generic-btn" id="useBtn">Utilizar bilhete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
         
        <!-- Footer -->
        <footer>
            <div class="container-footer">
                <nav class="nav-footer">
                    <ul class="nav-list-footer">
                        <li><a href="#navbar">Voltar ao inicio</a></li>
                    </ul>
                </nav>

                <div class="row-footer">
                    <div class="footer-col">
                        <h4>Sobre o Transcar</h4>
                        <ul>
                            <li><a href="about_ous_view/aboutOus.html">Sobre nos</a></li>
                            <li><a href="about_ous_view/contact.html">Contato</a></li>
                            <li><a href="about_ous_view/transcar-responsabilities.html">Responsabilidades</a></li>
                            <li><a href="about_ous_view/careers.html">Trabalhe conosco</a></li>
                        </ul>
                    </div>
                    
                    <div class="footer-col">
                        <h4>Bilhetes</h4>
                        <ul>
                            <li><a href="#">Como funcionam</a></li>
                            <li><a href="../generate.html">Gerar novo bilhete</a></li>
                            <li><a href="../recharge.html">Recarregar bilhete</a></li>
                            <li><a href="../usage.html">Utilizar Bilhetes</a></li>
                            <li><a href="#">Relatório de uso</a></li>
                            <li><a href="#">Rel. de recarga</a></li>
                        </ul>
                    </div>

                    <div class="footer-col">
                        <h4>Para empresas</h4>
                        <ul>
                            <li><a href="#">Transcar e seu negócio</a></li>
                            <li><a href="#">Comprar para sua empresa</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer -->
    </body>
</html>