<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../css/style_recarga.css">
        <link rel="icon" type="image/x-icon" href="../assets/favicon.ico">
        
        <title>TRANSCAR</title>
    </head>
    
    <body>
        <!-- Header -->
        <header>
            <!-- navbar -->
            <nav>
                <a class="logo" href="../index.html" id="navbar"><img src="../assets/TRANSCAR.svg" alt=""></a>
                <ul class="nav-list">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="/">Bilhetes</a></li>
                    <li><a href="/">Sobre <img src="../assets/dropdown_menu_icon.svg"> </a></li>
                    <li class="disable">Para empresas</li>
                </ul>

                <ul class="nav-list">
                    <li>
                        <div class="buttons">
                            <a class="btn-nav" href="/">
                                Conta
                            </a>
                        </div>
                    </li>
                    
                    <li>
                        <div class="buttons">
                            <a class="btn-nav purple" href="/">
                                Bilhetes
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- end navbar -->
        </header>
        <!-- end header -->

        <main>
            <section class="code-reload">
                <h1>Recarregar bilhete</h1>
                
                <p class="ticket-code">Código do bilhete</p>
                <input type="text" placeholder="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX">
                
                <div>
                    <ul class="texts">
                        <li>
                            <div class="text-infos">
                                <h1>Créditos</h1>
                                
                                <ul class="action-buttons">
                                    <li>
                                        <div class="buttons">
                                            <a class="btn-nav purple action-btn" href="views/generate.html">
                                                Único
                                            </a>
                                        </div>
                                    </li>
                
                                    <li>
                                        <div class="buttons">
                                            <a class="btn-nav action-btn" href="views/recarga.html">
                                                Duplo
                                            </a>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="buttons">
                                            <a class="btn-nav purple action-btn" href="views/generate.html">
                                                Personalizado
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        
                        <li>
                            <div class="text-infos">
                                <h1>Personalitè</h1>
                                
                                <ul class="action-buttons">
                                    <li>
                                        <div class="buttons">
                                            <a class="btn-nav purple action-btn" href="views/generate.html">
                                                1 Dia
                                            </a>
                                        </div>
                                    </li>
                
                                    <li>
                                        <div class="buttons">
                                            <a class="btn-nav action-btn" href="views/recarga.html">
                                                3 Dias
                                            </a>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="buttons">
                                            <a class="btn-nav purple action-btn" href="views/generate.html">
                                                7 Dias
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="buttons">
                                            <a class="btn-nav action-btn" href="views/recarga.html">
                                                14 Dias
                                            </a>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="buttons">
                                            <a class="btn-nav purple action-btn" href="views/generate.html">
                                                30 Dias
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                
                <div class="buttons">
                    <a class="btnext btn-nav purple generate">
                        Confirmar
                    </a>
                </div>
            </section>            
        </main>

        <footer>
            <div class="container-footer">
                <nav class="nav-footer">
                    <ul class="nav-list">
                        <li><a href="#navbar">Voltar ao inicio</a></li>
                    </ul>
                </nav>

                <div class="row-footer">
                    <!-- footer col-->
                    <div class="footer-col">
                        <h4>Conheça-nos</h4>
                        <ul>
                            <li><a href="#">Sobre nos</a></li>
                            <li><a href="#">Contato</a></li>
                            <li><a href="#">Nossos valores</a></li>
                            <li><a href="#">Nossa missão</a></li>
                            <li><a href="#">Nossa visão</a></li>
                            <li><a href="#">Trabalhe conosco</a></li>
                        </ul>
                    </div>
                    <!--end footer col-->
                    <!-- footer col-->
                    <div class="footer-col">
                        <h4>Bilhetes</h4>
                        <ul>
                            <li><a href="#">Como funcionam</a></li>
                            <li><a href="../views/generate.html">Gerar novo bilhete</a></li>
                            <li><a href="../views/recarga.html">Recarregar bilhete</a></li>
                            <li><a href="#">Meus Bilhetes</a></li>
                        </ul>
                    </div>
                    <!--end footer col-->
                    <!-- footer col-->
                    <div class="footer-col">
                        <h4>Conta</h4>
                        <ul>
                            <li><a href="#">Registrar</a></li>
                            <li><a href="#">Entrar</a></li>
                            <li><a href="#">Gerar novo código</a></li>
                            <li><a href="#">Meus bilhetes</a></li>
                            <li><a href="#">Histórico de Recargas</a></li>
                            <li><a href="#">Histórico de Utilização</a></li>
                            <li><a href="#">Gerenciar minha conta</a></li>
                        </ul>
                    </div>
                    <!--end footer col-->
                    <!-- footer col-->
                    <div class="footer-col">
                        <h4>Para empresas</h4>
                        <ul>
                            <li><a href="#">Transcar e seu negócio</a></li>
                            <li><a href="#">Comprar para sua empresa</a></li>
                        </ul>
                    </div>
                    <!--end footer col-->
                </div>
            </div>
        </footer>
    </body>

</html>