<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../css/style_recarga.css">
        <link rel="stylesheet" href="../css/scroolbar.css">
        <link rel="icon" type="image/x-icon" href="../assets/favicon.ico">
        
        <title>Recarga</title>
    </head>
    
    <body>
        <header>
            <nav>
                <a class="logo" href="../index.html" id="navbar"><img src="../assets/TRANSCAR.svg" alt=""></a>
                <ul class="nav-list">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="/">Sobre <img src="../assets/dropdown_menu_icon.svg"> </a></li>
                    <li class="disable">Para empresas</li>
                </ul>

                <ul class="nav-list">
                    <li>
                        <div class="buttons">
                            <a class="btn-nav purple" href="bilhetes.html">
                                Bilhetes
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            <section class="code-reload">
                <h1>Recarregar bilhete</h1>
                
                <section>
                    <div class="card">
                        <a><img src="../assets/credit_card_7dias.svg"></a>
                    </div>
    
                    <div class="card">
                        <a><img src="../assets/credit_card_unico.svg"></a>
                    </div>
                </section>
            </section>            
        </main>

        <footer>
            <div class="container-footer">
                <nav class="nav-footer">
                    <ul class="nav-list">
                        <li><a href="#navbar">Voltar ao inicio</a></li>
                    </ul>
                </nav>

                <div class="row-footer">
                    <div class="footer-col">
                        <h4>Conheça-nos</h4>
                        <ul>
                            <li><a href="#">Sobre nos</a></li>
                            <li><a href="#">Contato</a></li>
                            <li><a href="#">Nossos valores</a></li>
                            <li><a href="#">Nossa missão</a></li>
                            <li><a href="#">Nossa visão</a></li>
                            <li><a href="#">Trabalhe conosco</a></li>
                        </ul>
                    </div>
                    
                    <div class="footer-col">
                        <h4>Bilhetes</h4>
                        <ul>
                            <li><a href="#">Como funcionam</a></li>
                            <li><a href="generate.html">Gerar novo bilhete</a></li>
                            <li><a href="recarga.html">Recarregar bilhete</a></li>
                            <li><a href="utilizacao.html">Utilizar Bilhetes</a></li>
                            <li><a href="#">Relatório de uso</a></li>
                            <li><a href="#">Rel. de recarga</a></li>
                        </ul>
                    </div>

                    <div class="footer-col">
                        <h4>Para empresas</h4>
                        <ul>
                            <li><a href="#">Transcar e seu negócio</a></li>
                            <li><a href="#">Comprar para sua empresa</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>

</html>