<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../css/style_recarga.css">
        <link rel="stylesheet" href="../css/scroolbar.css">
        <link rel="icon" type="image/x-icon" href="../assets/favicon.ico">
        
        <title>Recarga</title>
    </head>
    
    <body>
        <header>
            <nav>
                <a class="logo" href="../index.html" id="navbar"><img src="../assets/TRANSCAR.svg" alt=""></a>
                <ul class="nav-list">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="/">Sobre <img src="../assets/dropdown_menu_icon.svg"> </a></li>
                    <li class="disable">Para empresas</li>
                </ul>

                <ul class="nav-list">
                    <li>
                        <div class="buttons">
                            <a class="btn-nav purple" href="bilhetes.html">
                                Bilhetes
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            <section class="code-reload">
                <h1>Recarregar bilhete</h1>
                
                <section>
                    <div class="card card_creditos">
                        <a><img src="../assets/card_creditos.svg"></a>
                    </div>
                    
                    <div class="card card_personalite">
                        <a><img src="../assets/card_personalite.svg"></a>
                    </div>

                    <div class="modal-container " id="modalRecharge">
                        <div class="modal">
                            <p class="ticket-code">Código do bilhete</p>
                            <input type="text" placeholder="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX">
                    
                            <ul class="texts">
                                <div class="text-infos">
                                    <ul class="action-buttons">
                                        <li>
                                            <div class="buttons btncreditos">
                                                <a class="btn-nav action-btn" href="#">
                                                    1 dia
                                                </a>
                                            </div>
                                        </li>
                    
                                        <li>
                                            <div class="buttons btncreditos2">
                                                <a class="btn-nav action-btn" href="#">
                                                    7 dias
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                
                                <div class="text-infos">
                                    <ul class="action-buttons">
                                        <li>
                                            <div class="buttons btncreditos3">
                                                <a class="btn-nav action-btn" href="#">
                                                    3 Dias
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="buttons btncreditos4">
                                                <a class="btn-nav action-btn" href="#">
                                                    14 Dias
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </ul>
                        
                            <div class="buttons btncreditos5">
                                <a class="btn-nav action-btn thirty" href="#">
                                    30 Dias
                                </a>
                            </div>

                            <div class="valor">
                                <label>Valor: <input type="text" readonly placeholder="R$10,00"></label>
                            </div>

                            <div class="buttons">
                                <a class="btnext btn-nav purple generate">
                                    Recarregar
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
            </section>            
        </main>

        <footer>
            <div class="container-footer">
                <nav class="nav-footer">
                    <ul class="nav-list">
                        <li><a href="#navbar">Voltar ao inicio</a></li>
                    </ul>
                </nav>

                <div class="row-footer">
                    <div class="footer-col">
                        <h4>Conheça-nos</h4>
                        <ul>
                            <li><a href="#">Sobre nos</a></li>
                            <li><a href="#">Contato</a></li>
                            <li><a href="#">Nossos valores</a></li>
                            <li><a href="#">Nossa missão</a></li>
                            <li><a href="#">Nossa visão</a></li>
                            <li><a href="#">Trabalhe conosco</a></li>
                        </ul>
                    </div>
                    
                    <div class="footer-col">
                        <h4>Bilhetes</h4>
                        <ul>
                            <li><a href="#">Como funcionam</a></li>
                            <li><a href="generate.html">Gerar novo bilhete</a></li>
                            <li><a href="recarga.html">Recarregar bilhete</a></li>
                            <li><a href="utilizacao.html">Utilizar Bilhetes</a></li>
                            <li><a href="#">Relatório de uso</a></li>
                            <li><a href="#">Rel. de recarga</a></li>
                        </ul>
                    </div>

                    <div class="footer-col">
                        <h4>Para empresas</h4>
                        <ul>
                            <li><a href="#">Transcar e seu negócio</a></li>
                            <li><a href="#">Comprar para sua empresa</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>

    <script src="../js/interacao_card.js"></script>
    <script src="../js/modal_recarga.js"></script>
</html>