<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../css/style_recharge/recharge.css">
        <link rel="stylesheet" href="../css/style_recharge/cardsModal.css">
        <link rel="stylesheet" href="../css/style_recharge/messageModal.css">

        <link rel="stylesheet" href="../css/style_configs/configs.css">
        <link rel="stylesheet" href="../css/style_configs/footer.css">
        <link rel="stylesheet" href="../css/style_configs/navbar.css">
        <link rel="stylesheet" href="../css/style_configs/scrollbar.css">
        
        <link rel="icon" type="image/x-icon" href="../assets/icons/favicon.ico">
        
        <title>Recarga</title>
    </head>
    
    <body>
        <!-- Navbar -->
        <header>
            <nav>
                <abbr title="Ir para Home">
                    <img class="logo" id="navbar" src="../assets/logo/TRANSCAR.svg" alt="Ir para Home" onclick="location.href='../index.html'">
                </abbr>

                <ul class="nav-list">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="#">Sobre <img src="../assets/icons/dropdown_menu_icon.svg"> </a></li>
                    <li class="disable">Para empresas</li>
                </ul>

                <ul class="nav-list">
                    <li>
                        <div class="buttons">
                            <button type="button" onclick="location.href='tickets.html'" class="btn-nav">
                                Bilhetes
                            </button>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- Navbar -->

        <main>
            <section class="reacharge-container">
                <h1>Recarregar bilhete</h1>
                
                <section>
                    <!-- Cards clickaveis -->
                    <div class="card card_creditos">
                        <a><img src="../assets/cards/card_creditos.svg"></a>
                    </div>
                    
                    <div class="card card_personalite">
                        <a><img src="../assets/cards/card_personalite.svg"></a>
                    </div>
                    <!-- Cards clickaveis -->

                    <!-- Modal card personalité -->
                    <div class="recharge-personalite-container" id="modalRechargePersonalite">
                        <div class="modal-content">
                            <p class="ticket-code">Código do bilhete</p>
                            <input type="text" placeholder="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX" maxlength="36" id="inputBilhetePersonalite" required >
                    
                            <ul class="buttons-container">
                                <div class="buttons-group">
                                    <ul>
                                        <li>
                                            <div class="btncreditos">
                                                <button id="1d" class="recharge-options action-btn" data-value="10.27">
                                                    1 dia
                                                </button>
                                            </div>
                                        </li>
                    
                                        <li>
                                            <div class="btncreditos">
                                                <button id="7d" class="recharge-options action-btn" data-value="71.89">
                                                    7 dias
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                
                                <div class="buttons-group">
                                    <ul>
                                        <li>
                                            <div class="btncreditos">
                                                <button id="3d" class="recharge-options action-btn" data-value="30.81">
                                                    3 Dias
                                                </button>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="btncreditos">
                                                <button id="14d" class="recharge-options action-btn" data-value="143.78">
                                                    14 Dias
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </ul>
                        
                            <div class="btncreditos">
                                <button id="30d" class="recharge-options center action-btn" data-value="308.1">
                                    30 Dias
                                </button>
                            </div>

                            <div class="valor">
                                <label>Valor: <input type="text" readonly placeholder="R$10,00" class="valorRecarga"></label>
                            </div>

                            <div>
                                <button id="btnRecargaPersonalite" class="recharge-options generate">
                                    Recarregar
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- Modal card personalité -->

                    <!-- Modal card créditos -->
                    <div class="recharge-credits-container " id="modalRechargeCreditos">
                        <div class="modal-content">
                            <p class="ticket-code">Código do bilhete</p>
                            <input type="text" placeholder="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX" id="inputBilheteCreditos" required>
                    
                            <ul class="buttons-container">
                                <div class="buttons-group">
                                    <ul>
                                        <li>
                                            <div class="buttons btncreditos">
                                                <button id="u" class="recharge-options action-btn" data-value="3.26">
                                                    Único
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                
                                <div class="buttons-group">
                                    <ul>
                                        <li>
                                            <div class="buttons btncreditos">
                                                <button id="d" class="recharge-options action-btn" data-value="6.52">
                                                    Duplo
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </ul>

                            <div class="valor">
                                <label>Valor: <input type="text" readonly placeholder="R$10,00" class="valorRecarga"/></label>
                            </div>

                            <div class="buttons">
                                <button id="btnRecargaCreditos" class="recharge-options generate">
                                    Recarregar
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- Modal card créditos -->
                </section>
            </section>  
            
            <!-- Informações -->
            <section class="info-container">
                <h1>Como funcionam ?</h1>

                <ul class="info-list">
                    <li>
                        <div class="informations">
                            <h1>Créditos</h1>

                            <p>Ao utilizar o bilhete créditos terá passe livre para usar todos os transportes públicos disponíveis durante 40 minutos, após que o tempo tenha passado um novo crédito será debitado. As opções disponíveis  único, o duplo e personalizado.</p>
                        </div>
                    </li>
                    
                    <li>
                        <div class="informations">
                            <h1>Personalitè</h1>

                            <p>De acordo com a sua escolha de um tempo pré-definido, sendo eles: 7, 14 e 30 dias, ao utilizar terá passe livre durante o tempo escolhido.</p>
                        </div>
                    </li>
                </ul>
            </section>
            <!-- Informações -->
        </main>

        <!-- Footer -->
        <footer>
            <div class="container-footer">
                <nav class="nav-footer">
                    <ul class="nav-list-footer">
                        <li><a href="#navbar">Voltar ao inicio</a></li>
                    </ul>
                </nav>

                <div class="row-footer">
                    
                    <div class="footer-col">
                        <h4>Sobre o Transcar</h4>
                        <ul>
                            <li><a href="about_ous_view/aboutOus.html">Sobre nos</a></li>
                            <li><a href="about_ous_view/contact.html">Contato</a></li>
                            <li><a href="about_ous_view/transcar-responsabilities.html">Responsabilidades</a></li>
                            <li><a href="about_ous_view/careers.html">Trabalhe conosco</a></li>
                        </ul>
                    </div>
                    
                    <div class="footer-col">
                        <h4>Bilhetes</h4>
                        <ul>
                            <li><a href="#">Como funcionam</a></li>
                            <li><a href="generate.html">Gerar novo bilhete</a></li>
                            <li><a href="recharge.html">Recarregar bilhete</a></li>
                            <li><a href="usage.html">Utilizar Bilhetes</a></li>
                            <li><a href="#">Relatório de uso</a></li>
                            <li><a href="#">Rel. de recarga</a></li>
                        </ul>
                    </div>

                    <div class="footer-col">
                        <h4>Para empresas</h4>
                        <ul>
                            <li><a href="#">Transcar e seu negócio</a></li>
                            <li><a href="#">Comprar para sua empresa</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer -->

        <!-- Modal de sucesso -->
        <div id="modalMensagemSuccess" style="display: none;">    
            <div class="message-modal-container">
                <div class="message-bar-modal">
                    <h1 class="message-modal-title">Aviso de recargar !</h1>
                </div>
                
                <div class="modal-message">
                    <span>Bilhete recarregado com Sucesso !</span>
                </div>
                
                <div class="message-bottom-modal sucess">
                </div>
            </div>
        </div>
        <!-- Modal de sucesso -->

        <!-- Modal de erro -->
        <div id="modalMensagemError" style="display: none;">    
            <div class="message-modal-container">
                <div class="message-bar-modal">
                    <h1 class="message-modal-title">Aviso de recargar !</h1>
                </div>
                
                <div class="modal-message">
                    <span>Código invalido ou inexistente</span>
                </div>
                
                <div class="message-bottom-modal error">
                </div>
            </div>
        </div>
        <!-- Modal de erro -->
    </body>

    <script src="../js/interactionCards.js"></script>
    <script src="../js/interactionButtons.js"></script>
    <script src="../js/recarga.js"></script>
</html>