<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../css/relatorio.css">
        <link rel="stylesheet" href="../css/components.css">
        
        <link rel="icon" type="image/x-icon" href="../assets/icons/favicon.ico">

        <script src="../js/copyFunction.js"></script>

        <title>FasTICKET: Relatórios de Gerenciamento</title>
    </head>
    
    <body>
        <!-- Navbar -->
        <header>
            <nav>
                <abbr title="Ir para Home">
                    <img class="logo" id="navbar" src="../assets/logo/FASTICKET.svg" alt="Ir para Home" onclick="location.href='../index.html'">
                </abbr>

                <ul class="nav-list">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="about_ous_view/aboutOus.html">Sobre</a></li>
                    <li><a href="#">Relatórios</a></li>
                    <li class="disable">Para empresas</li>
                </ul>

                <ul class="nav-list">
                    <li>
                        <div class="buttons">
                            <button type="button" onclick="location.href='mainTicket.html'" class="btn-nav">
                                Meu bilhete
                            </button>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- Navbar -->

        <main>
            <section>
                <section class="rel-container">
                    <h1>Relatório de Gerenciamento</h1>
    
                    <div class="rel-header">
                        <input id="ticketCode" type="text" placeholder="# Seu código" maxlength="13"> 
                        
                        <button type="button" class="search-btn">
                            <img src="../assets/icons/search_icon.svg" alt="search">
                        </button>
                    </div>
    
                    <div class="rel-table">
                        <table>
                            <tr>
                                <th>Recarga</th>
                                <th>Tipo</th>
                                <th>Data</th>
                                <th>Estado</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Duplo</td>
                                <td>15/08/2022</td>
                                <td>Ativa</td>
                            </tr>
                        </table>
                    </div>
                </section>
            </section>
        </main>

        <!-- Footer -->
        <footer>
            <div class="container-footer">
                <nav class="nav-footer">
                    <ul class="nav-list-footer">
                        <li><a href="#navbar">Voltar ao inicio</a></li>
                    </ul>
                </nav>

                <div class="row-footer">
                    <div class="footer-col">
                        <h4>Sobre o FasTICKET</h4>
                        <ul>
                            <li><a href="about_ous_view/aboutOus.html">Sobre nos</a></li>
                            <li><a href="about_ous_view/contact.html">Contato</a></li>
                            <li><a href="about_ous_view/FasTICKET-responsabilities.html">Responsabilidades</a></li>
                            <li><a href="about_ous_view/careers.html">Trabalhe conosco</a></li>
                        </ul>
                    </div>
                    
                    <div class="footer-col">
                        <h4>Bilhetes</h4>
                        <ul>
                            <li><a href="tickets.html">Ações Rápidas</a></li>
                            <li><a href="generate.html">Gerar novo bilhete</a></li>
                            <li><a href="recharge.html">Recarregar bilhete</a></li>
                            <li><a href="mainTicket.html">Utilizar Bilhetes</a></li>
                            <li><a href="#">Relatório de uso</a></li>
                            <li><a href="#">Rel. de recarga</a></li>
                        </ul>
                    </div>

                    <div class="footer-col">
                        <h4>Para empresas</h4>
                        <ul>
                            <li><a href="#">FasTICKET e seu negócio</a></li>
                            <li><a href="#">Comprar para sua empresa</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer -->    
    </body>
</html>