<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/configs.css">
        <link rel="stylesheet" href="../css/navbar.css">
        <link rel="stylesheet" href="../css/footer.css">
        <link rel="stylesheet" href="../css/scrollbar.css">
        
        <title>Bilhetes</title>
    </head>
    
    <body>
        <!-- Navbar -->
        <header>
            <nav>
                <abbr title="Ir para Home">
                    <img class="logo" id="navbar" src="../assets/TRANSCAR.svg" alt="Ir para Home" onclick="location.href='../index.html'">
                </abbr>

                <ul class="nav-list">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="#">Sobre <img src="../assets/dropdown_menu_icon.svg"> </a></li>
                    <li class="disable">Para empresas</li>
                </ul>

                <ul class="nav-list">
                    <li>
                        <div class="buttons">
                            <button type="button" onclick="location.href='tickets.html'" class="btn-nav purple">
                                Bilhetes
                            </button>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- Navbar -->

        <main>
            <section>
                <h1>O que deseja fazer ?</h1>
            </section>
        </main>

        <!-- Footer -->
        <footer>
            <div class="container-footer">
                <nav class="nav-footer">
                    <ul class="nav-list">
                        <li><a href="#navbar">Voltar ao inicio</a></li>
                    </ul>
                </nav>

                <div class="row-footer">
                    
                    <div class="footer-col">
                        <h4>Sobre o Transcar</h4>
                        <ul>
                            <li><a href="#">Sobre nos</a></li>
                            <li><a href="#">Contato</a></li>
                            <li><a href="#">Responsabilidades</a></li>
                            <li><a href="#">Trabalhe conosco</a></li>
                        </ul>
                    </div>
                    
                    <div class="footer-col">
                        <h4>Bilhetes</h4>
                        <ul>
                            <li><a href="#">Como funcionam</a></li>
                            <li><a href="generate.html">Gerar novo bilhete</a></li>
                            <li><a href="recharge.html">Recarregar bilhete</a></li>
                            <li><a href="usage.html">Utilizar Bilhetes</a></li>
                            <li><a href="#">Relatório de uso</a></li>
                            <li><a href="#">Rel. de recarga</a></li>
                        </ul>
                    </div>

                    <div class="footer-col">
                        <h4>Para empresas</h4>
                        <ul>
                            <li><a href="#">Transcar e seu negócio</a></li>
                            <li><a href="#">Comprar para sua empresa</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer -->


    </body>
</html>