h1{
    color: white;
    font-weight: 100;
    margin-top: 50px;
    margin-bottom: 5px;
    text-align: center;
}

h1+input{
    margin-top: 5px;
    margin-bottom: 20px;
}

.title-myticket{
   padding: 10px 10px 10px 20px; 
   color: white;
   list-style: none;
}

.title-myticket span {
    color: #635CCE;
}

.myticket{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.card-container{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.content{
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}

.info-container{
    border: 1px solid white;
    border-radius: 10px;
    width: 307px;
}

.mytickets-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.generic-btn{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 150px;

}

input {
    text-align: center;

    width: 307px;
    margin-top: 30px;
    padding: 10px 10px 10px 10px;

    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    
    color: white;
}
