footer{
    background-color: var(--bg-nav-dark);
    padding-bottom: 20px;
}
.nav-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--bg-footer-dark);
    height: 50px
}
.nav-list-footer li {
    font-size: 16px;
    font-weight: 200;
    list-style: none;
}
.nav-list-footer li>a{
    color: var(--white);
    text-decoration: none;
    transition: 0.3s;
}
.nav-list-footer li>a:hover{
    opacity: 0.7;
}

.container-footer{
    width: 100%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-col{
    width: 200px;
    margin-left: 20px;
}
.footer-col h4{
    font-size: 16px;
    color: var(--white);
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    margin: 10px 0;
}
.footer-col ul li a{
    font-size: 16px;
    color: var(--white);
    text-decoration: none;
    font-weight: 100;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    opacity: 0.7;
    padding-left: 10px;
}