<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../../css/aboutOus.css">

        <link rel="stylesheet" href="../../css/style_configs/configs.css">
        <link rel="stylesheet" href="../../css/style_configs/navbar.css">
        <link rel="stylesheet" href="../../css/style_configs/footer.css">
        <link rel="stylesheet" href="../../css/style_configs/scrollbar.css">
        
        <link rel="icon" type="image/x-icon" href="../../assets/icons/favicon.ico">

        <title>FasTICKET: Conheça mais sobre nós.</title>
    </head>
    
    <body>
        <!-- Navbar -->
        <header>
            <nav>
                <abbr title="Ir para Home">
                    <img class="logo" id="navbar" src="../../assets/logo/FASTICKET.svg" alt="Ir para Home" onclick="location.href='../../index.html'">
                </abbr>

                <ul class="nav-list">
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="aboutOus.html">Sobre</a></li>
                    <li><a href="#">Relatórios</a></li>
                    <li class="disable">Para empresas</li>
                </ul>

                <ul class="nav-list">
                    <li>
                        <div class="buttons">
                            <button type="button" onclick="location.href='../mainTicket.html'" class="btn-nav">
                                Meu bilhete
                            </button>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- Navbar -->

        <main>
            <section class="about-ous-container">
                <div class="about-ous-header">
                    <div class="about-ous-title">
                        <h1>SOMOS O TIME DE<br>DESENVOLVIMENTO DO<br><span>SISTEMA</span> <span id="logo1">TRANS</span><span id="logo2">CAR</span></h1>
                    </div>

                    <div>
                        <img src="../../assets/mockup notebook.png" alt="notebook">
                    </div>
                </div>

                <div class="about-ous-content">
                    <div class="about-ous-content-texts">
                        <div class="about-ous-content-title">
                            <h1>Tudo é possível com o transporte certo.</h1>
                        </div>
                        <div class="about-ous-content-paragraph">
                            <p>O sistema de bilhete único personalizado ou de taxa fixa foi criado para
                                permitir que todos os usúarios dos transportes públicos tivesse máximo acesso
                                a todos os véiculos de mobilidade urbana, sem a necessidade de ter 
                                diversos cartões ligados a várias empresas de mobilidade para poder utilizar o sistema
                                público.</p>
                            
                            <div class="about-ous-content-link">
                                <a href="../../index.html">Saiba mais sobre nossos bilhetes ></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <!-- Footer -->
        <footer>
            <div class="container-footer">
                <nav class="nav-footer">
                    <ul class="nav-list-footer">
                        <li><a href="#navbar">Voltar ao inicio</a></li>
                    </ul>
                </nav>

                <div class="row-footer">
                    <div class="footer-col">
                        <h4>Sobre o FasTICKET</h4>
                        <ul>
                            <li><a href="aboutOus.html">Sobre nos</a></li>
                            <li><a href="contact.html">Contato</a></li>
                            <li><a href="FasTICKET-responsabilities.html">Responsabilidades</a></li>
                            <li><a href="careers.html">Trabalhe conosco</a></li>
                        </ul>
                    </div>
                    
                    <div class="footer-col">
                        <h4>Bilhetes</h4>
                        <ul>
                            <li><a href="../tickets.html">Ações Rápidas</a></li>
                            <li><a href="../generate.html">Gerar novo bilhete</a></li>
                            <li><a href="../recharge.html">Recarregar bilhete</a></li>
                            <li><a href="../mainTicket.html">Utilizar Bilhetes</a></li>
                            <li><a href="#">Relatório de uso</a></li>
                            <li><a href="#">Rel. de recarga</a></li>
                        </ul>
                    </div>

                    <div class="footer-col">
                        <h4>Para empresas</h4>
                        <ul>
                            <li><a href="#">FasTICKET e seu negócio</a></li>
                            <li><a href="#">Comprar para sua empresa</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer -->
    </body>
</html>