<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../../css/careers.css">
        
        <link rel="stylesheet" href="../../css/style_configs/configs.css">
        <link rel="stylesheet" href="../../css/style_configs/navbar.css">
        <link rel="stylesheet" href="../../css/style_configs/footer.css">
        <link rel="stylesheet" href="../../css/style_configs/scrollbar.css">

        <link rel="icon" type="image/x-icon" href="../../assets/icons/favicon.ico">

        <title>Contato</title>
    </head>

    <body>
        <!-- Navbar -->
        <header>
            <nav>
                <abbr title="Ir para Home">
                    <img class="logo" id="navbar" src="../../assets/logo/TRANSCAR.svg" alt="Ir para Home" onclick="location.href='../../index.html'">
                </abbr>

                <ul class="nav-list">
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="#">Sobre <img src="../../assets/icons/dropdown_menu_icon.svg"> </a></li>
                    <li class="disable">Para empresas</li>
                </ul>

                <ul class="nav-list">
                    <li>
                        <div class="buttons">
                            <button type="button" onclick="location.href='../tickets.html'" class="btn-nav">
                                Bilhetes
                            </button>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- Navbar -->

        <main>
            <section class="careers-container">
                <section class="careers-content">
                    <div class="careers-img">
                        <img src="../../assets/people_work.png" alt="people working">
                    </div>

                    <div class="careers-form-container">
                        <div class="careers-form-title">
                            <h1>FAÇA PARTE<br>do <span id="logo1">time</span> TRANS<span id="logo1">CAR</span></h1>
                        </div>

                        <div class="careers-form-texts">
                            <p>inscreva-se para receber nossas oportunidades diretamente em seu e-mail.</p>
                        </div>

                        <div class="careers-form">
                            <form>
                                <input type="email" placeholder="pessoa.humano@gmail.com"><button type="button">Enviar</button>    
                            </form>
                        </div>
                    </div>
                </section>
            </section>
        </main>

        <!-- Footer -->
        <footer>
            <div class="container-footer">
                <nav class="nav-footer">
                    <ul class="nav-list-footer">
                        <li><a href="#navbar">Voltar ao inicio</a></li>
                    </ul>
                </nav>

                <div class="row-footer">
                    
                    <div class="footer-col">
                        <h4>Sobre o Transcar</h4>
                        <ul>
                            <li><a href="aboutOus.html">Sobre nos</a></li>
                            <li><a href="contact.html">Contato</a></li>
                            <li><a href="transcar-responsabilities.html">Responsabilidades</a></li>
                            <li><a href="careers.html">Trabalhe conosco</a></li>
                        </ul>
                    </div>
                    
                    <div class="footer-col">
                        <h4>Bilhetes</h4>
                        <ul>
                            <li><a href="#">Como funcionam</a></li>
                            <li><a href="../generate.html">Gerar novo bilhete</a></li>
                            <li><a href="../recharge.html">Recarregar bilhete</a></li>
                            <li><a href="../usage.html">Utilizar Bilhetes</a></li>
                            <li><a href="#">Relatório de uso</a></li>
                            <li><a href="#">Rel. de recarga</a></li>
                        </ul>
                    </div>

                    <div class="footer-col">
                        <h4>Para empresas</h4>
                        <ul>
                            <li><a href="#">Transcar e seu negócio</a></li>
                            <li><a href="#">Comprar para sua empresa</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer -->
    </body>
</html>