<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../../css/responsabilities.css">
        
        <link rel="stylesheet" href="../../css/components.css">

        <link rel="icon" type="image/x-icon" href="../../assets/icons/favicon.ico">

        <title>FasTICKET: Aquilo que valorizamos no seu dia a dia.</title>
    </head>

    <body>
        <!-- Navbar -->
        <header>
            <nav>
                <abbr title="Ir para Home">
                    <img class="logo" id="navbar" src="../../assets/logo/FASTICKET.svg" alt="Ir para Home" onclick="location.href='../../index.html'">
                </abbr>

                <ul class="nav-list">
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="aboutOus.html">Sobre</a></li>
                    <li><a href="../relatorio.html">Relatórios</a></li>
                    <li class="disable">Para empresas</li>
                </ul>

                <ul class="nav-list">
                    <li>
                        <div class="buttons">
                            <button type="button" onclick="location.href='../mainTicket.html'" class="btn-nav">
                                Meu bilhete
                            </button>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- Navbar -->

        <main>
            <section class="responsabilities-container">
                <section class="responsabilities-header">
                    <section class="responsabilities-header-texts">
                        <div class="responsabilities-header-title">
                            <h1>Mobilizar o mundo.</h1>
                        </div>
                        
                        <div class="responsabilities-header-text">
                            <p>Nossa missão é mobilizar o mundo, permitir que todos tenham acesso a um transporte pensando para todas as realidades.</p>
                        </div>
                    </section>
                </section>
                
                <section class="responsabilities-contents">
                    <div class="responsabilities-content-box">
                        <div class="responsabilities-box-title">
                            <h1>Sobre nossa empresa</h1>
                        </div>
                        <div class="responsabilities-box-text">
                            <p>Conheça mais sobre sobre o FasTICKET – desde atualizações e notícias da empresa à oportunidades de trabalho e muito mais.
                            </p>
                        </div>
                        <div class="responsabilities-box-link">
                            <a href="../generate.html">Viaje pelo nosso mundo ></a>
                        </div>
                    </div>

                    <div class="responsabilities-content-box center-box">
                        <div class="responsabilities-box-title">
                            <h1>Grupo 3 - PI II</h1>
                        </div>
                        <div class="responsabilities-box-text">
                            <p>Conheça nosso time de desenvolvimento e descubra quem as pessoas que estão por trás do FasTICKET.</p>
                        </div>
                        <div class="responsabilities-box-link">
                            <a href="contact.html">Entre em contato conosco ></a>
                        </div>
                    </div>

                    <div class="responsabilities-content-box">
                        <div class="responsabilities-box-title">
                            <h1>O que valorizamos</h1>
                        </div>
                        <div class="responsabilities-box-text">
                            <p>Veja como utilizamos a tecnologia para criar nossa plataforma de bilhetes.</p>
                        </div>
                        <div class="responsabilities-box-link">
                            <a href="#">Conheça nossas tecnologias ></a>
                        </div>
                    </div>
                </section>
            </section>
        </main>

        <!-- Footer -->
        <footer>
            <div class="container-footer">
                <nav class="nav-footer">
                    <ul class="nav-list-footer">
                        <li><a href="#navbar">Voltar ao inicio</a></li>
                    </ul>
                </nav>

                <div class="row-footer">
                    <div class="footer-col">
                        <h4>Sobre o FasTICKET</h4>
                        <ul>
                            <li><a href="aboutOus.html">Sobre nos</a></li>
                            <li><a href="contact.html">Contato</a></li>
                            <li><a href="FasTICKET-responsabilities.html">Responsabilidades</a></li>
                            <li><a href="careers.html">Trabalhe conosco</a></li>
                        </ul>
                    </div>
                    
                    <div class="footer-col">
                        <h4>Bilhetes</h4>
                        <ul>
                            <li><a href="../tickets.html">Ações Rápidas</a></li>
                            <li><a href="../generate.html">Gerar novo bilhete</a></li>
                            <li><a href="../recharge.html">Recarregar bilhete</a></li>
                            <li><a href="../mainTicket.html">Utilizar Bilhetes</a></li>
                            <li><a href="../relatorio.html">Relatório de uso</a></li>
                            <li><a href="#">Rel. de recarga</a></li>
                        </ul>
                    </div>

                    <div class="footer-col">
                        <h4>Para empresas</h4>
                        <ul>
                            <li><a href="#">FasTICKET e seu negócio</a></li>
                            <li><a href="#">Comprar para sua empresa</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer -->
    </body>
</html>